body {
  margin: 0;
  font-family: sans-serif;
}

.root {
  display: grid;

  grid-template-rows: 10em .5em 1fr;
  grid-template-columns: 1fr 40em 1fr;
  grid-template-areas: 
    "header header header"
    "countdown countdown countdown"
    ". content .";
}

.header {
  grid-area: header;

  display: grid;

  grid-template-columns: 1fr 10em 30em 1fr;
  grid-template-areas:
    ". logo title .";
}


@media (max-width: 40em) {
  .root {
    grid-template-rows: 5em .5em 1fr;
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "countdown"
      "content";
  }

  .header {
    grid-template-columns: 5em 1fr;
    grid-template-areas:
      "logo title";
  }
}

.header .logo {
  grid-area: logo;

  background-image: url("logo.png");
  background-size: cover;
}

.header h1.title {
  grid-area: title;

  align-self: center;
  justify-self: center;

  font-size: 5em;
  margin: 0;
}

.countdown {
  grid-area: countdown;

  background-color: black;
}

.content {
  padding-top: 2em;
  grid-area: content;
}

.content .landing form {
  display: flex;
  flex-direction: column;
}

.content .landing form > * {
  margin-top: 1em;
}


.content .landing form * {
  font-size: 1em;
}

.content .landing form .pair {
  display:  flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content:  stretch;
}

.content .landing form .pair label {
  margin-top: .2em;
  margin-right: 1em;
  padding: .2em .6em;
}

.content .landing form .pair label::after {
  content: ":";
}

.content .landing form .pair input {
  width: 100%;
}

.content .landing form input {
  border: 1px solid black;
  color: white;
  color: black;
  background: white;
  padding: .2em .6em;
}

.content .landing form input[type=submit] {
  text-align: center;
}

.content .landing form input[type=text] {
  border: 0px solid black;
  border-bottom-width: 1px;
}