
.App {
  display: grid;

  grid-template-rows: 10em .5em 1fr;
  grid-template-columns: 1fr 40em 1fr;
  grid-template-areas:
    "header header header"
    "countdown countdown countdown"
    ". content .";
}

@media (max-width: 40em) {
  .App {
    grid-template-rows: 5em .5em 1fr;
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "countdown"
      "content";
  }
}


header {
  grid-area: header;

  display: grid;

  grid-template-columns: 1fr 10em 30em 1fr;
  grid-template-areas:
    ". logo title .";
}

@media (max-width: 40em) {
  header {
    grid-template-columns: 5em 1fr;
    grid-template-areas:
      "logo title";
  }
}

header logo {
  grid-area: logo;

  background-image: url("logo.png");
  background-size: cover;
}

header h1 {
  grid-area: title;

  align-self: center;
  justify-self: center;

  font-size: 5em;
  margin: 0;
}

countdown {
  grid-area: countdown;

  background-color: black;
}

content {
  padding-top: 2em;
  grid-area: content;
}

content h2 {
  text-align: center;
}

content {
  display: flex;
  flex-direction: column;
}

content > * {
  margin-top: 1em;
}

content * {
  font-size: 1em;
}

content .pair {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

content .pair label {
  margin-top: .2em;
  margin-right: 1em;
  padding: .2em .6em;
}

content .pair label::after {
  content: ":";
}

content .pair input {
  width: 100%;
}

content input,
content button,
.button {
  border: 1px solid black;
  color: white;
  color: black;
  background: white;
  padding: .2em .6em;
}

content button,
.button {
  text-align: center;
  cursor: pointer;
  user-select: none;
}

content button.big,
.button.big {
  padding: 1em 3em;
  color: white;
  background-color: black;
  font-weight: bold;
}

content input[type=text] {
  border: 0px solid black;
  border-bottom-width: 1px;
}

content hr {
  border: 1px solid #eee;
  margin: 2em 2em;
  margin-bottom: 1em;
}

content.admin table.votes {
  border: 2px solid black;
  border-collapse: collapse;
  table-layout: fixed;

  width: 30em;
  margin-top: 2em;
  margin-left: 5em;

  justify-content: center;
}

content.admin table.votes td {
  padding: .4em;
  border: 1px solid black;
}

content.admin table.votes td:nth-child(2) {
  width: 10em;
  text-align: center;
}

content.admin .share {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

content.admin .link {
  font-style: italic;
  margin-top: .3em;
  margin-right: 1.5em;
}